.search-box{
    width: 40%;
}

.search-image-box{
    height: 280px;
}

img{
    position: relative;
    max-width: 150px;
    max-height: 222.5px;
    height: 222.5px;
 /* width: 50px; */
}

.display-result{
    margin: 15px;
    ;
}

.modal-content-width{
    width: 50px;
}

.notification{
    height: 304px;
}